Repository ai-dynamo/aiperf: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkinit enums, mkinit messages, mkinit config

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the latest stable version
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
        exclude: ^\.devcontainer/devcontainer\.json$
      - id: check-toml
      - id: check-yaml
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
        types_or: [cuda, proto, textproto, python]
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      additional_dependencies: [tomli]
      args: ["--toml", "pyproject.toml"]
      exclude: (?x)^(.*stemmer.*|.*stop_words.*|^CHANGELOG.md$|.*shakespeare.txt)
  - repo: local
    hooks:
    - id: add-license
      name: Add License
      entry: python tools/add_copyright.py
      language: python
      require_serial: true
    # Run mkinit to generate the __init__.py files
    - id: mkinit enums
      name: Run mkinit enums
      entry: mkinit
      language: system
      types: [python]
      files: ^aiperf/common/enums/__init__.py$
      args: [--write, --black, --nomods]
    - id: mkinit messages
      name: Run mkinit messages
      entry: mkinit
      language: system
      types: [python]
      files: ^aiperf/common/messages/__init__.py$
      args: [--write, --black, --nomods]
    - id: mkinit config
      name: Run mkinit on config files
      entry: mkinit
      language: system
      types: [python]
      files: ^aiperf/common/config/__init__.py$
      args: [--write, --black, --nomods]

swap order of topic now that we have a ending token
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/hooks.py
  aiperf/common/mixins/command_handler_mixin.py
  aiperf/common/mixins/message_bus_mixin.py
Due: none

add media types for generic handling
  aiperf/common/enums/__init__.py
  aiperf/common/enums/media_enums.py
  aiperf/common/models/__init__.py
  aiperf/common/models/dataset_models.py
  aiperf/common/types.py
  aiperf/services/__init__.py
  aiperf/services/dataset/__init__.py
  aiperf/services/dataset/loader/__init__.py
  aiperf/services/dataset/loader/mixins.py
  aiperf/services/dataset/loader/multi_turn.py
  aiperf/services/dataset/loader/random_pool.py
  aiperf/services/dataset/loader/single_turn.py
Due: mkinit enums

feat: enable model selection strategy (#149)
  aiperf/clients/openai/openai_chat.py
  aiperf/clients/openai/openai_completions.py
  aiperf/clients/openai/openai_embeddings.py
  aiperf/common/config/endpoint_config.py
  aiperf/common/enums/model_enums.py
  aiperf/common/models/dataset_models.py
  aiperf/dataset/composer/base.py
  aiperf/dataset/composer/custom.py
  aiperf/dataset/composer/synthetic.py
  aiperf/dataset/dataset_manager.py
  tests/composers/conftest.py
  tests/composers/test_custom_composer.py
  tests/composers/test_synthetic_composer.py
Due: none

chore: move services/inference_result_parser to aiperf/parsers (#169)
  aiperf/parsers/__init__.py
  aiperf/parsers/inference_result_parser.py
  aiperf/parsers/openai_parsers.py
  aiperf/services/dataset/composer/synthetic.py
  aiperf/services/inference_result_parser/__init__.py
  tests/services/test_inference_result_parser.py
Due: none

address comments
  aiperf/common/base_service.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/constants.py
  aiperf/common/enums/command_enums.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/command_messages.py
  aiperf/common/models/__init__.py
  aiperf/common/models/service_models.py
Due: mkinit messages

code review comments
  aiperf/common/base_component_service.py
  aiperf/common/constants.py
Due: none

feat: Connection Probing, and Command Tracking for Services (#151)
  aiperf/common/base_component_service.py
  aiperf/common/base_service.py
  aiperf/common/comms/__init__.py
  aiperf/common/comms/zmq/__init__.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_defaults.py
  aiperf/common/comms/zmq/zmq_proxy_base.py
  aiperf/common/comms/zmq/zmq_proxy_sockets.py
  aiperf/common/constants.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/message_enums.py
  aiperf/common/hooks.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/command_messages.py
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/command_handler_mixin.py
  aiperf/common/mixins/message_bus_mixin.py
  aiperf/common/models/service_models.py
  aiperf/controller/kubernetes_service_manager.py
  aiperf/controller/system_controller.py
  aiperf/dataset/dataset_manager.py
  aiperf/parsers/inference_result_parser.py
  aiperf/timing/timing_manager.py
  aiperf/workers/worker_manager.py
Due: mkinit messages

Clean up the console metrics
  aiperf/common/models/record_models.py
  aiperf/exporters/console_exporter.py
  aiperf/metrics/base_metric.py
  aiperf/metrics/types/inter_token_latency_metric.py
  aiperf/post_processors/metric_summary.py
  tests/metrics/test_ttft_metric.py
Due: none

fix imports
  aiperf/exporters/console_exporter.py
Due: none

address feedback
  aiperf/common/models/dataset_models.py
  aiperf/dataset/loader/mixins.py
Due: none

feat: Pydantic Model based EndpointType awesomeness
  aiperf/clients/model_endpoint_info.py
  aiperf/common/config/endpoint_config.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/endpoints_enums.py
  aiperf/exporters/console_exporter.py
  tests/common/__init__.py
  tests/common/enums/__init__.py
  tests/common/enums/test_endpoints_enums.py
  tests/config/test_endpoint_config.py
Due: mkinit enums

address comments, typo
  aiperf/common/enums/endpoints_enums.py
  tests/config/test_endpoint_config.py
Due: none

move functionality to base enum class
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/endpoints_enums.py
Due: mkinit enums

feat: trace_or_debug log message macro support
  aiperf/common/aiperf_logger.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  tests/logging/test_aiperf_logger.py
Due: none

remove complicated overloads, and stick to just lambda version
  aiperf/common/aiperf_logger.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  tests/logging/test_aiperf_logger.py
Due: none

remove args and kwargs
  aiperf/common/aiperf_logger.py
Due: none

chore: replace logging module with aiperf logger
  aiperf/clients/http/aiohttp_client.py
  aiperf/common/logging.py
  aiperf/common/utils.py
  aiperf/dataset/composer/base.py
  aiperf/dataset/generator/base.py
  aiperf/dataset/generator/prompt.py
  aiperf/parsers/openai_parsers.py
  tests/generators/test_prompt_generator.py
Due: none

feat: Add MetricFlags enum for defining how and when to use a Metric
  aiperf/common/enums/__init__.py
  aiperf/common/enums/metric_enums.py
  tests/metrics/test_metric_flags.py
Due: mkinit enums

address code review comments
  aiperf/common/enums/metric_enums.py
Due: none

address copilot and add todo
  aiperf/dataset/loader/mixins.py
  aiperf/dataset/loader/models.py
Due: none

feat: convert new custom datasets into conversations (#170)
  aiperf/common/enums/__init__.py
  aiperf/common/enums/media_enums.py
  aiperf/common/models/__init__.py
  aiperf/common/models/dataset_models.py
  aiperf/common/types.py
  aiperf/dataset/__init__.py
  aiperf/dataset/composer/custom.py
  aiperf/dataset/loader/__init__.py
  aiperf/dataset/loader/mixins.py
  aiperf/dataset/loader/models.py
  aiperf/dataset/loader/multi_turn.py
  aiperf/dataset/loader/protocol.py
  aiperf/dataset/loader/random_pool.py
  aiperf/dataset/loader/single_turn.py
  tests/loaders/test_multi_turn.py
  tests/loaders/test_random_pool.py
  tests/loaders/test_single_turn.py
Due: mkinit enums

add image and audio support fields
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/endpoints_enums.py
Due: none

change default to "Metrics"
  aiperf/common/enums/endpoints_enums.py
  tests/common/enums/test_endpoints_enums.py
Due: none

feat: trace_or_debug log message macro support (#173)
  aiperf/common/aiperf_logger.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  tests/logging/test_aiperf_logger.py
Due: none

change to trace log
  aiperf/dataset/generator/prompt.py
Due: none

re-order super.init
  aiperf/clients/http/aiohttp_client.py
Due: none

chore: replace logging module with aiperf logger (#174)
  aiperf/clients/http/aiohttp_client.py
  aiperf/common/logging.py
  aiperf/common/utils.py
  aiperf/dataset/composer/base.py
  aiperf/dataset/generator/base.py
  aiperf/dataset/generator/prompt.py
  aiperf/parsers/openai_parsers.py
  tests/generators/test_prompt_generator.py
Due: none

feat: Pydantic Model based EndpointType awesomeness (#172)
  aiperf/clients/model_endpoint_info.py
  aiperf/common/config/endpoint_config.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/endpoints_enums.py
  aiperf/exporters/console_exporter.py
  tests/common/__init__.py
  tests/common/enums/__init__.py
  tests/common/enums/test_endpoints_enums.py
  tests/config/test_endpoint_config.py
Due: mkinit enums

add image and audio flags
  aiperf/common/enums/metric_enums.py
Due: none

feat: Add MetricFlags enum for defining how and when to use a Metric (#175)
  aiperf/common/enums/__init__.py
  aiperf/common/enums/metric_enums.py
  tests/metrics/test_metric_flags.py
Due: mkinit enums

fix: inform user of processing delay, fix potential race condition
  aiperf/post_processors/processing_stats_streamer.py
Due: none

Update aiperf/post_processors/processing_stats_streamer.py
  aiperf/post_processors/processing_stats_streamer.py
Due: none

fix: inform user of processing delay, fix potential race condition (#176)
  aiperf/post_processors/processing_stats_streamer.py
Due: none
