Repository ai-dynamo/aiperf: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkinit enums, mkinit messages, mkinit config

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the latest stable version
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-json
        exclude: ^\.devcontainer/devcontainer\.json$
      - id: check-toml
      - id: check-yaml
      - id: check-shebang-scripts-are-executable
      - id: end-of-file-fixer
        types_or: [cuda, proto, textproto, python]
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: requirements-txt-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      additional_dependencies: [tomli]
      args: ["--toml", "pyproject.toml"]
      exclude: (?x)^(.*stemmer.*|.*stop_words.*|^CHANGELOG.md$|.*shakespeare.txt)
  - repo: local
    hooks:
    - id: add-license
      name: Add License
      entry: python tools/add_copyright.py
      language: python
      require_serial: true
    # Run mkinit to generate the __init__.py files
    - id: mkinit enums
      name: Run mkinit enums
      entry: mkinit
      language: system
      types: [python]
      files: ^aiperf/common/enums/__init__.py$
      args: [--write, --black, --nomods]
    - id: mkinit messages
      name: Run mkinit messages
      entry: mkinit
      language: system
      types: [python]
      files: ^aiperf/common/messages/__init__.py$
      args: [--write, --black, --nomods]
    - id: mkinit config
      name: Run mkinit on config files
      entry: mkinit
      language: system
      types: [python]
      files: ^aiperf/common/config/__init__.py$
      args: [--write, --black, --nomods]

address code review
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_task_mixin.py
  aiperf/common/mixins/task_manager_mixin.py
Due: none

refactor: new base TaskManagerMixin for background tasks (#126)
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  aiperf/common/mixins/aiperf_task_mixin.py
  aiperf/common/mixins/async_task_manager_mixin.py
  aiperf/common/mixins/task_manager_mixin.py
  docs/diagrams/mixins.md
Due: none

address review comments
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/config/zmq_config.py
  aiperf/common/constants.py
  aiperf/common/decorators.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/mixins/task_manager_mixin.py
  aiperf/common/models/service_models.py
  aiperf/common/protocols.py
  aiperf/common/types.py
  aiperf/services/__init__.py
  aiperf/services/inference_result_parser/inference_result_parser.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/service_manager/__init__.py
  aiperf/services/system_controller/__init__.py
  aiperf/services/system_controller/base_service_manager.py
  aiperf/services/system_controller/kubernetes_service_manager.py
  aiperf/services/system_controller/multiprocess_service_manager.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/services/workers/worker.py
Due: mkinit enums

feat: allow more granular service manager control (#132)
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/config/zmq_config.py
  aiperf/common/constants.py
  aiperf/common/decorators.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/mixins/task_manager_mixin.py
  aiperf/common/models/service_models.py
  aiperf/common/protocols.py
  aiperf/common/types.py
  aiperf/services/__init__.py
  aiperf/services/inference_result_parser/inference_result_parser.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/service_manager/__init__.py
  aiperf/services/service_manager/base.py
  aiperf/services/service_manager/multiprocess.py
  aiperf/services/system_controller/__init__.py
  aiperf/services/system_controller/base_service_manager.py
  aiperf/services/system_controller/kubernetes_service_manager.py
  aiperf/services/system_controller/multiprocess_service_manager.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/services/workers/worker.py
Due: mkinit enums

fix imports
  aiperf/clients/client_interfaces.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/enums/logging_enums.py
  aiperf/common/exceptions.py
  aiperf/common/hooks.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/command_messages.py
  aiperf/common/messages/service_messages.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/models/__init__.py
  aiperf/common/models/base_models.py
  aiperf/common/models/dataset_models.py
  aiperf/services/workers/worker_manager.py
Due: mkinit enums, mkinit messages

add latest fix all merge issues
  aiperf/clients/client_interfaces.py
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_comms.py
Due: none

refactor: WorkerManager commands Controller to spawn/stop Workers (#133)
  aiperf/clients/__init__.py
  aiperf/clients/client_interfaces.py
  aiperf/clients/openai/__init__.py
  aiperf/clients/openai/openai_aiohttp.py
  aiperf/clients/openai/openai_embeddings.py
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/enums/endpoints_enums.py
  aiperf/common/enums/logging_enums.py
  aiperf/common/exceptions.py
  aiperf/common/hooks.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/command_messages.py
  aiperf/common/messages/service_messages.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/models/__init__.py
  aiperf/common/models/base_models.py
  aiperf/common/models/dataset_models.py
  aiperf/services/inference_result_parser/openai_parsers.py
  aiperf/services/records_manager/post_processors/basic_metrics_streamer.py
  aiperf/services/records_manager/post_processors/metric_summary.py
  aiperf/services/workers/worker_manager.py
Due: mkinit enums, mkinit messages

refactor: use new lifecycle mixin for ZMQ clients
  aiperf/common/comms/__init__.py
  aiperf/common/comms/base.py
  aiperf/common/comms/base_comms.py
  aiperf/common/comms/zmq/__init__.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/comms/zmq/zmq_proxy_base.py
  aiperf/common/comms/zmq/zmq_proxy_sockets.py
Due: none

refactor: utilize latest command and messaging with system controller
  aiperf/services/__init__.py
  aiperf/services/system_controller/__init__.py
  aiperf/services/system_controller/proxy_manager.py
  aiperf/services/system_controller/system_controller.py
  aiperf/services/system_controller/system_mixins.py
Due: none

feat: Add Singleton Factory support, typed contructors
  aiperf/common/factories.py
Due: none

feat: Compute MetricSummary without storing raw records
  aiperf/common/interfaces.py
  aiperf/services/records_manager/post_processors/basic_metrics_streamer.py
  aiperf/services/records_manager/post_processors/metric_summary.py
  tests/metrics/test_metric_summary.py
Due: none

fix record type inconsistencies
  aiperf/services/records_manager/metrics/base_metric.py
  aiperf/services/records_manager/metrics/types/benchmark_duration_metric.py
  aiperf/services/records_manager/metrics/types/input_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/inter_token_latency_metric.py
  aiperf/services/records_manager/metrics/types/max_response_metric.py
  aiperf/services/records_manager/metrics/types/min_request_metric.py
  aiperf/services/records_manager/metrics/types/output_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/output_token_count_metric.py
  aiperf/services/records_manager/metrics/types/output_token_throughput_per_user_metric.py
  aiperf/services/records_manager/metrics/types/request_count_metric.py
  aiperf/services/records_manager/metrics/types/request_latency_metric.py
  aiperf/services/records_manager/metrics/types/request_throughput_metric.py
  aiperf/services/records_manager/metrics/types/ttft_metric.py
  aiperf/services/records_manager/metrics/types/ttst_metric.py
  aiperf/services/records_manager/post_processors/basic_metrics_streamer.py
Due: none

feat: Compute MetricSummary without storing raw records (#135)
  aiperf/common/interfaces.py
  aiperf/services/records_manager/metrics/base_metric.py
  aiperf/services/records_manager/metrics/types/benchmark_duration_metric.py
  aiperf/services/records_manager/metrics/types/input_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/inter_token_latency_metric.py
  aiperf/services/records_manager/metrics/types/max_response_metric.py
  aiperf/services/records_manager/metrics/types/min_request_metric.py
  aiperf/services/records_manager/metrics/types/output_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/output_token_count_metric.py
  aiperf/services/records_manager/metrics/types/output_token_throughput_per_user_metric.py
  aiperf/services/records_manager/metrics/types/request_count_metric.py
  aiperf/services/records_manager/metrics/types/request_latency_metric.py
  aiperf/services/records_manager/metrics/types/request_throughput_metric.py
  aiperf/services/records_manager/metrics/types/ttft_metric.py
  aiperf/services/records_manager/metrics/types/ttst_metric.py
  aiperf/services/records_manager/post_processors/basic_metrics_streamer.py
  aiperf/services/records_manager/post_processors/metric_summary.py
  tests/metrics/test_metric_summary.py
Due: none

Support vLLM completions responses
  aiperf/services/inference_result_parser/openai_parsers.py
Due: none

refactor: Use MetricTag enum for type-saftey and decoupling
  aiperf/common/enums/__init__.py
  aiperf/common/enums/metric_enums.py
  aiperf/common/types.py
  aiperf/data_exporter/json_exporter.py
  aiperf/services/records_manager/metrics/base_metric.py
  aiperf/services/records_manager/metrics/types/benchmark_duration_metric.py
  aiperf/services/records_manager/metrics/types/input_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/inter_token_latency_metric.py
  aiperf/services/records_manager/metrics/types/max_response_metric.py
  aiperf/services/records_manager/metrics/types/min_request_metric.py
  aiperf/services/records_manager/metrics/types/output_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/output_token_count_metric.py
  aiperf/services/records_manager/metrics/types/output_token_throughput_metric.py
  aiperf/services/records_manager/metrics/types/output_token_throughput_per_user_metric.py
  aiperf/services/records_manager/metrics/types/request_count_metric.py
  aiperf/services/records_manager/metrics/types/request_latency_metric.py
  aiperf/services/records_manager/metrics/types/request_throughput_metric.py
  aiperf/services/records_manager/metrics/types/ttft_metric.py
  aiperf/services/records_manager/metrics/types/ttst_metric.py
  tests/metrics/test_benchmark_duration_metric.py
  tests/metrics/test_output_token_throughput_metric.py
Due: mkinit enums

change type for allowed_tags
  aiperf/services/records_manager/post_processors/metric_summary.py
Due: none

fix: Support vLLM completions responses (#139)
  aiperf/services/inference_result_parser/openai_parsers.py
Due: none

refactor: Use MetricTag enum for type-saftey and decoupling (#140)
  aiperf/common/enums/__init__.py
  aiperf/common/enums/metric_enums.py
  aiperf/common/types.py
  aiperf/data_exporter/json_exporter.py
  aiperf/services/records_manager/metrics/base_metric.py
  aiperf/services/records_manager/metrics/types/benchmark_duration_metric.py
  aiperf/services/records_manager/metrics/types/input_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/inter_token_latency_metric.py
  aiperf/services/records_manager/metrics/types/max_response_metric.py
  aiperf/services/records_manager/metrics/types/min_request_metric.py
  aiperf/services/records_manager/metrics/types/output_sequence_length_metric.py
  aiperf/services/records_manager/metrics/types/output_token_count_metric.py
  aiperf/services/records_manager/metrics/types/output_token_throughput_metric.py
  aiperf/services/records_manager/metrics/types/output_token_throughput_per_user_metric.py
  aiperf/services/records_manager/metrics/types/request_count_metric.py
  aiperf/services/records_manager/metrics/types/request_latency_metric.py
  aiperf/services/records_manager/metrics/types/request_throughput_metric.py
  aiperf/services/records_manager/metrics/types/ttft_metric.py
  aiperf/services/records_manager/metrics/types/ttst_metric.py
  aiperf/services/records_manager/post_processors/metric_summary.py
  tests/metrics/test_benchmark_duration_metric.py
  tests/metrics/test_output_token_throughput_metric.py
Due: mkinit enums

Add
  SECURITY.md
Due: none

feat: Improve CLI with ordered Groups, ignored options
  aiperf/cli.py
  aiperf/common/config/__init__.py
  aiperf/common/config/audio_config.py
  aiperf/common/config/conversation_config.py
  aiperf/common/config/endpoint_config.py
  aiperf/common/config/groups.py
  aiperf/common/config/image_config.py
  aiperf/common/config/input_config.py
  aiperf/common/config/loadgen_config.py
  aiperf/common/config/measurement_config.py
  aiperf/common/config/output_config.py
  aiperf/common/config/prompt_config.py
  aiperf/common/config/service_config.py
  aiperf/common/config/sweep_config.py
  aiperf/common/config/tokenizer_config.py
  aiperf/common/config/user_config.py
  aiperf/common/config/worker_config.py
Due: mkinit config

remove invalid comment
  aiperf/common/config/prompt_config.py
Due: none

fix endpoint defaults
  aiperf/common/config/user_config.py
Due: none

address comments
  aiperf/common/messages/__init__.py
  aiperf/common/messages/command_messages.py
  aiperf/services/system_controller/system_controller.py
  aiperf/services/system_controller/system_mixins.py
Due: mkinit messages

iaddress comments
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
Due: none

chore: move base service files to services folder (#120)
  aiperf/common/bootstrap.py
  aiperf/common/service/__init__.py
  aiperf/services/__init__.py
  aiperf/services/base_component_service.py
  aiperf/services/base_controller_service.py
  aiperf/services/base_service.py
  aiperf/services/base_service_interface.py
  aiperf/services/dataset/dataset_manager.py
  aiperf/services/inference_result_parser/inference_result_parser.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/system_controller/system_controller.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/services/workers/worker.py
  aiperf/services/workers/worker_manager.py
  docs/hook-system.md
  tests/base_test_component_service.py
  tests/base_test_controller_service.py
  tests/base_test_service.py
  tests/services/test_dataset_manager.py
  tests/services/test_records_manager.py
  tests/services/test_system_controller.py
  tests/services/test_timing_manager.py
  tests/services/test_worker.py
  tests/services/test_worker_manager.py
Due: none

chore: sort factories by name in common factories file (#123)
  aiperf/common/factories.py
Due: none

chore: add latest types and sort alphabetically (#124)
  aiperf/common/types.py
Due: none

chore: latest protocols, moved, sorted, etc. (#125)
  aiperf/common/interfaces.py
  aiperf/common/protocols.py
Due: none

refactor: new simplified base services using lifecycle (#130)
  aiperf/services/__init__.py
  aiperf/services/base_component_service.py
  aiperf/services/base_controller_service.py
  aiperf/services/base_service.py
  aiperf/services/base_service_interface.py
Due: none

refactor: brand new re-architected AIPerfLifecycleMixin (#127)
  aiperf/common/enums/__init__.py
  aiperf/common/enums/service_enums.py
  aiperf/common/mixins/aiperf_lifecycle_mixin.py
Due: mkinit enums

refactor: extensive new simpler hook system (#129)
  aiperf/common/hooks.py
  aiperf/common/mixins/hooks_mixin.py
  tests/test_hooks.py
Due: none

feat: MessageBusMixin for automatic @on_message hooks (#131)
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/communication_mixin.py
  aiperf/common/mixins/message_bus_mixin.py
Due: none

feat: new ReplyClientMixin and integration with DatasetManager (#134)
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/reply_client_mixin.py
  aiperf/services/dataset/dataset_manager.py
Due: none

refactor: WorkerManager commands Controller to spawn/stop Workers (#133)
  aiperf/clients/client_interfaces.py
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/enums/logging_enums.py
  aiperf/common/exceptions.py
  aiperf/common/hooks.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/command_messages.py
  aiperf/common/messages/service_messages.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/models/__init__.py
  aiperf/common/models/base_models.py
  aiperf/common/models/dataset_models.py
  aiperf/services/records_manager/post_processors/metric_summary.py
  aiperf/services/workers/worker_manager.py
Due: mkinit enums, mkinit messages

feat: Add Singleton Factory support, typed contructors (#136)
  aiperf/common/factories.py
Due: none
