Repository ai-dynamo/aiperf: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkinit enums, mkinit messages, mkinit config

mkinit enums:
  name: Run mkinit enums
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

mkinit messages:
  name: Run mkinit messages
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

mkinit config:
  name: Run mkinit on config files
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

refactor: use new lifecycle mixin for ZMQ clients (#138)
  aiperf/common/comms/__init__.py
  aiperf/common/comms/base.py
  aiperf/common/comms/base_comms.py
  aiperf/common/comms/zmq/__init__.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/comms/zmq/zmq_proxy_base.py
  aiperf/common/comms/zmq/zmq_proxy_sockets.py
Due: none

refactor: utilize latest command and messaging with system controller (#137)
  aiperf/common/messages/__init__.py
  aiperf/common/messages/command_messages.py
  aiperf/services/__init__.py
  aiperf/services/system_controller/__init__.py
  aiperf/services/system_controller/proxy_manager.py
  aiperf/services/system_controller/system_controller.py
  aiperf/services/system_controller/system_mixins.py
Due: mkinit messages

Apply suggestion from @Copilot
  aiperf/common/messages/command_messages.py
Due: none

docs: add security policy (#141)
  SECURITY.md
Due: none

deploy: 8f3b5e8cf87c02fdd5fbbb776310c4c2e6c2f7bb
  sitemap.xml.gz
Due: none

re-order endpoints
  aiperf/common/config/groups.py
Due: none

feat: Improve CLI with ordered Groups, ignored options (#142)
  aiperf/cli.py
  aiperf/common/config/__init__.py
  aiperf/common/config/audio_config.py
  aiperf/common/config/conversation_config.py
  aiperf/common/config/endpoint_config.py
  aiperf/common/config/groups.py
  aiperf/common/config/image_config.py
  aiperf/common/config/input_config.py
  aiperf/common/config/loadgen_config.py
  aiperf/common/config/measurement_config.py
  aiperf/common/config/output_config.py
  aiperf/common/config/prompt_config.py
  aiperf/common/config/service_config.py
  aiperf/common/config/sweep_config.py
  aiperf/common/config/tokenizer_config.py
  aiperf/common/config/user_config.py
  aiperf/common/config/worker_config.py
Due: mkinit config

feat: allow more granular service manager control (#132)
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/config/zmq_config.py
  aiperf/common/constants.py
  aiperf/common/decorators.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/mixins/task_manager_mixin.py
  aiperf/common/models/service_models.py
  aiperf/common/protocols.py
  aiperf/common/types.py
  aiperf/services/__init__.py
  aiperf/services/inference_result_parser/inference_result_parser.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/service_manager/__init__.py
  aiperf/services/service_manager/base.py
  aiperf/services/service_manager/multiprocess.py
  aiperf/services/system_controller/__init__.py
  aiperf/services/system_controller/base_service_manager.py
  aiperf/services/system_controller/kubernetes_service_manager.py
  aiperf/services/system_controller/multiprocess_service_manager.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/services/workers/worker.py
Due: mkinit enums

chore: move base service files to services folder (#120)
  aiperf/common/bootstrap.py
  aiperf/common/service/__init__.py
  aiperf/services/__init__.py
  aiperf/services/base_component_service.py
  aiperf/services/base_controller_service.py
  aiperf/services/base_service.py
  aiperf/services/base_service_interface.py
  aiperf/services/dataset/dataset_manager.py
  aiperf/services/inference_result_parser/inference_result_parser.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/system_controller/system_controller.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/services/workers/worker.py
  aiperf/services/workers/worker_manager.py
  docs/hook-system.md
  tests/base_test_component_service.py
  tests/base_test_controller_service.py
  tests/base_test_service.py
  tests/services/test_dataset_manager.py
  tests/services/test_records_manager.py
  tests/services/test_system_controller.py
  tests/services/test_timing_manager.py
  tests/services/test_worker.py
  tests/services/test_worker_manager.py
Due: none

refactor: extensive new simpler hook system (#129)
  aiperf/common/hooks.py
  aiperf/common/mixins/hooks_mixin.py
  tests/test_hooks.py
Due: none

refactor: new base TaskManagerMixin for background tasks (#126)
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  aiperf/common/mixins/aiperf_task_mixin.py
  aiperf/common/mixins/async_task_manager_mixin.py
  aiperf/common/mixins/task_manager_mixin.py
  docs/diagrams/mixins.md
Due: none

feat: new ReplyClientMixin and integration with DatasetManager (#134)
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/reply_client_mixin.py
  aiperf/services/dataset/dataset_manager.py
Due: none

feat: Add Singleton Factory support, typed contructors (#136)
  aiperf/common/factories.py
Due: none

chore: add latest types and sort alphabetically (#124)
  aiperf/common/types.py
Due: none

chore: latest protocols, moved, sorted, etc. (#125)
  aiperf/common/interfaces.py
  aiperf/common/protocols.py
Due: none

refactor: brand new re-architected AIPerfLifecycleMixin (#127)
  aiperf/common/enums/__init__.py
  aiperf/common/enums/service_enums.py
  aiperf/common/mixins/aiperf_lifecycle_mixin.py
Due: mkinit enums

refactor: new simplified base services using lifecycle (#130)
  aiperf/services/__init__.py
  aiperf/services/base_component_service.py
  aiperf/services/base_controller_service.py
  aiperf/services/base_service.py
  aiperf/services/base_service_interface.py
Due: none

refactor: WorkerManager commands Controller to spawn/stop Workers (#133)
  aiperf/clients/client_interfaces.py
  aiperf/common/comms/base.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/enums/logging_enums.py
  aiperf/common/exceptions.py
  aiperf/common/hooks.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/command_messages.py
  aiperf/common/messages/service_messages.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/models/__init__.py
  aiperf/common/models/base_models.py
  aiperf/common/models/dataset_models.py
  aiperf/services/records_manager/post_processors/metric_summary.py
  aiperf/services/workers/worker_manager.py
Due: mkinit enums, mkinit messages

feat: MessageBusMixin for automatic @on_message hooks (#131)
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/communication_mixin.py
  aiperf/common/mixins/message_bus_mixin.py
Due: none

chore: sort factories by name in common factories file (#123)
  aiperf/common/factories.py
Due: none

fix(test): Fix broken unit tests after refactor
  tests/base_test_component_service.py
  tests/base_test_service.py
  tests/clients/http/test_aiohttp_client.py
  tests/conftest.py
  tests/data_exporters/test_console_exporter.py
  tests/data_exporters/test_exporter_manager.py
  tests/logging/test_logging_mixins.py
  tests/services/records_manager/conftest.py
  tests/services/records_manager/test_processing_stats_streamer.py
  tests/services/records_manager/test_streaming_post_processor.py
  tests/services/test_system_controller.py
  tests/services/test_worker.py
  tests/test_aiperf_task.py
  tests/test_background_task.py
  tests/test_messages.py
  tests/utils/time_traveler.py
Due: none

fix(test): Fix broken unit tests after refactor (#144)
  tests/base_test_component_service.py
  tests/base_test_service.py
  tests/clients/http/test_aiohttp_client.py
  tests/conftest.py
  tests/data_exporters/test_console_exporter.py
  tests/data_exporters/test_exporter_manager.py
  tests/logging/test_logging_mixins.py
  tests/services/records_manager/conftest.py
  tests/services/records_manager/test_processing_stats_streamer.py
  tests/services/records_manager/test_streaming_post_processor.py
  tests/services/test_system_controller.py
  tests/services/test_worker.py
  tests/test_aiperf_task.py
  tests/test_background_task.py
  tests/test_messages.py
  tests/utils/time_traveler.py
Due: none

Add vision and audio support
  aiperf/clients/openai/openai_chat.py
  aiperf/clients/openai/openai_completions.py
  aiperf/common/config/config_validators.py
Due: none

Path conditions:
  mkinit enums: any of: ^aiperf/common/enums/__init__.py$ and \.py$
  mkinit messages: any of: ^aiperf/common/messages/__init__.py$ and \.py$
  mkinit config: any of: ^aiperf/common/config/__init__.py$ and \.py$
