Repository ai-dynamo/aiperf: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkinit enums, mkinit messages, mkinit config

mkinit enums:
  name: Run mkinit enums
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

mkinit messages:
  name: Run mkinit messages
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

mkinit config:
  name: Run mkinit on config files
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

refactor(enums): Add _enums to each filename
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/benchmark_suite_enums.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/enums/data_exporter_enums.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/enums/endpoints_enums.py
  aiperf/common/enums/logging_enums.py
  aiperf/common/enums/measurement_enums.py
  aiperf/common/enums/message_enums.py
  aiperf/common/enums/metric_enums.py
  aiperf/common/enums/model_enums.py
  aiperf/common/enums/post_processor_enums.py
  aiperf/common/enums/service_enums.py
  aiperf/common/enums/sse_enums.py
  aiperf/common/enums/system_enums.py
  aiperf/common/enums/timing_enums.py
  aiperf/tests/config/test_user_config.py
  aiperf/tests/data_exporters/test_console_exporter.py
  aiperf/tests/data_exporters/test_exporter_manager.py
  aiperf/tests/logging/test_aiperf_logger.py
  aiperf/tests/services/test_timing_manager.py
Due: mkinit enums

refactor(messages): Migrate messages into separate files (#103)
  .pre-commit-config.yaml
  Makefile
  aiperf/common/messages.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/command_messages.py
  aiperf/common/messages/credit_messages.py
  aiperf/common/messages/dataset_messages.py
  aiperf/common/messages/health_messages.py
  aiperf/common/messages/inference_messages.py
  aiperf/common/messages/service_messages.py
  aiperf/common/service/base_component_service.py
  aiperf/progress/progress_models.py
  aiperf/tests/test_messages.py
Due: mkinit messages

refactor(config): Flatten config module files, use mkinit (#102)
  .pre-commit-config.yaml
  Makefile
  aiperf/common/config/__init__.py
  aiperf/common/config/audio_config.py
  aiperf/common/config/conversation_config.py
  aiperf/common/config/endpoint/__init__.py
  aiperf/common/config/endpoint_config.py
  aiperf/common/config/image_config.py
  aiperf/common/config/input/__init__.py
  aiperf/common/config/input_config.py
  aiperf/common/config/output/__init__.py
  aiperf/common/config/output_config.py
  aiperf/common/config/prompt_config.py
  aiperf/common/config/tokenizer/__init__.py
  aiperf/common/config/tokenizer_config.py
  aiperf/common/config/user_config.py
  aiperf/common/enums/__init__.py
Due: mkinit enums, mkinit config

fix usage of enums outside of enum folder
  aiperf/tests/config/test_user_config.py
  aiperf/tests/data_exporters/test_console_exporter.py
  aiperf/tests/data_exporters/test_exporter_manager.py
  aiperf/tests/logging/test_aiperf_logger.py
  aiperf/tests/services/test_timing_manager.py
Due: none

refactor(enums): Add _enums to each filename (#105)
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/benchmark_suite_enums.py
  aiperf/common/enums/command_enums.py
  aiperf/common/enums/communication_enums.py
  aiperf/common/enums/data_exporter_enums.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/enums/endpoints_enums.py
  aiperf/common/enums/logging_enums.py
  aiperf/common/enums/measurement_enums.py
  aiperf/common/enums/message_enums.py
  aiperf/common/enums/metric_enums.py
  aiperf/common/enums/model_enums.py
  aiperf/common/enums/post_processor_enums.py
  aiperf/common/enums/service_enums.py
  aiperf/common/enums/sse_enums.py
  aiperf/common/enums/system_enums.py
  aiperf/common/enums/timing_enums.py
  aiperf/tests/config/test_user_config.py
  aiperf/tests/data_exporters/test_console_exporter.py
  aiperf/tests/data_exporters/test_exporter_manager.py
  aiperf/tests/logging/test_aiperf_logger.py
  aiperf/tests/services/test_timing_manager.py
Due: mkinit enums

Update aiperf/common/models/record_models.py
  aiperf/common/models/record_models.py
Due: none

Update aiperf/progress/progress_models.py
  aiperf/progress/progress_models.py
Due: none

Update aiperf/common/models/error_models.py
  aiperf/common/models/error_models.py
Due: none

refactor(mixins): Split mixins into separate module
  .pre-commit-config.yaml
  Makefile
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/hooks.py
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_lifecycle_mixin.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  aiperf/common/mixins/aiperf_profile_mixin.py
  aiperf/common/mixins/aiperf_task_mixin.py
  aiperf/common/mixins/async_task_manager_mixin.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/mixins/process_health_mixin.py
  aiperf/common/service/base_service.py
  aiperf/tests/test_aiperf_task.py
  aiperf/tests/test_hooks.py
  docs/hook-system.md
Due: none

fix imports
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/service/base_service.py
  aiperf/tests/test_aiperf_task.py
  aiperf/tests/test_hooks.py
  docs/hook-system.md
Due: none

refactor(mixins): Split mixins into separate module (#106)
  .pre-commit-config.yaml
  Makefile
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/hooks.py
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_lifecycle_mixin.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  aiperf/common/mixins/aiperf_profile_mixin.py
  aiperf/common/mixins/aiperf_task_mixin.py
  aiperf/common/mixins/async_task_manager_mixin.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/mixins/process_health_mixin.py
  aiperf/common/service/base_service.py
  aiperf/tests/test_aiperf_task.py
  aiperf/tests/test_hooks.py
  docs/hook-system.md
Due: none

test: re-enable service tests
  aiperf/tests/base_test_service.py
  aiperf/tests/services/test_dataset_manager.py
  aiperf/tests/services/test_inference_result_parser.py
  aiperf/tests/services/test_records_manager.py
  aiperf/tests/services/test_system_controller.py
  aiperf/tests/services/test_timing_manager.py
  aiperf/tests/services/test_worker.py
  aiperf/tests/services/test_worker_manager.py
Due: none

copilot suggestion
  aiperf/services/dataset/loader/single_turn.py
Due: none

feat(dataset): add multi-turn and single-turn custom dataset (#101)
  aiperf/common/config/config_defaults.py
  aiperf/common/enums/dataset_enums.py
  aiperf/common/factories.py
  aiperf/services/dataset/composer/custom.py
  aiperf/services/dataset/loader/__init__.py
  aiperf/services/dataset/loader/models.py
  aiperf/services/dataset/loader/mooncake_trace.py
  aiperf/services/dataset/loader/multi_turn.py
  aiperf/services/dataset/loader/single_turn.py
  aiperf/tests/composers/conftest.py
  aiperf/tests/composers/test_custom_composer.py
  aiperf/tests/loaders/conftest.py
  aiperf/tests/loaders/test_multi_turn.py
  aiperf/tests/loaders/test_single_turn.py
  aiperf/tests/loaders/test_trace.py
Due: none

feat: Support for RequestRateStrategy w/ Poisson Process
  aiperf/services/timing_manager/request_rate_strategy.py
Due: none

fix unit tests, update to latest missing timing manager code
  aiperf/common/messages/credit_messages.py
  aiperf/services/dataset/loader/models.py
  aiperf/services/timing_manager/__init__.py
  aiperf/services/timing_manager/concurrency_strategy.py
  aiperf/services/timing_manager/credit_issuing_strategy.py
  aiperf/services/timing_manager/credit_manager.py
  aiperf/services/timing_manager/fixed_schedule_strategy.py
  aiperf/services/timing_manager/request_rate_strategy.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/tests/conftest.py
  aiperf/tests/loaders/test_multi_turn.py
  aiperf/tests/loaders/test_single_turn.py
  aiperf/tests/test_tokenizer.py
  aiperf/tests/timing_manager/conftest.py
  aiperf/tests/timing_manager/test_fixed_schedule_strategy.py
  aiperf/tests/timing_manager/test_request_rate_strategy.py
  aiperf/tests/utils/test_time_traveler.py
  aiperf/tests/utils/time_traveler.py
  pyproject.toml
Due: none

feat: Support for RequestRateStrategy w/ Poisson Process (#89)
  aiperf/common/messages/credit_messages.py
  aiperf/services/dataset/loader/models.py
  aiperf/services/timing_manager/__init__.py
  aiperf/services/timing_manager/concurrency_strategy.py
  aiperf/services/timing_manager/credit_issuing_strategy.py
  aiperf/services/timing_manager/credit_manager.py
  aiperf/services/timing_manager/fixed_schedule_strategy.py
  aiperf/services/timing_manager/request_rate_strategy.py
  aiperf/services/timing_manager/timing_manager.py
  aiperf/tests/conftest.py
  aiperf/tests/loaders/test_multi_turn.py
  aiperf/tests/loaders/test_single_turn.py
  aiperf/tests/test_tokenizer.py
  aiperf/tests/timing_manager/conftest.py
  aiperf/tests/timing_manager/test_fixed_schedule_strategy.py
  aiperf/tests/timing_manager/test_request_rate_strategy.py
  aiperf/tests/utils/test_time_traveler.py
  aiperf/tests/utils/time_traveler.py
  pyproject.toml
Due: none

feat: Working End-to-End Profiling
  aiperf/common/bootstrap.py
  aiperf/common/comms/zmq/__init__.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/comms/zmq/zmq_proxy_base.py
  aiperf/common/enums/message_enums.py
  aiperf/common/logging.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/dataset_messages.py
  aiperf/common/messages/progress_messages.py
  aiperf/common/models/credit_models.py
  aiperf/common/service/base_service.py
  aiperf/data_exporter/exporter_config.py
  aiperf/data_exporter/exporter_manager.py
  aiperf/progress/__init__.py
  aiperf/progress/progress_models.py
  aiperf/services/dataset/__init__.py
  aiperf/services/dataset/dataset_manager.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/system_controller/system_controller.py
  aiperf/tests/data_exporters/test_console_exporter.py
  pyproject.toml
Due: mkinit messages

remove duplicated code from records manager
  aiperf/services/records_manager/records_manager.py
Due: none

sorted and removed docstrings on message type enums
  aiperf/common/enums/message_enums.py
Due: none

address comments
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/utils.py
  aiperf/services/dataset/dataset_manager.py
Due: none

remove commented code
  aiperf/services/system_controller/system_controller.py
Due: none

feat: Working End-to-End Profiling (#108)
  aiperf/common/bootstrap.py
  aiperf/common/comms/zmq/__init__.py
  aiperf/common/comms/zmq/dealer_request_client.py
  aiperf/common/comms/zmq/pub_client.py
  aiperf/common/comms/zmq/pull_client.py
  aiperf/common/comms/zmq/push_client.py
  aiperf/common/comms/zmq/router_reply_client.py
  aiperf/common/comms/zmq/sub_client.py
  aiperf/common/comms/zmq/zmq_base_client.py
  aiperf/common/comms/zmq/zmq_comms.py
  aiperf/common/comms/zmq/zmq_proxy_base.py
  aiperf/common/enums/message_enums.py
  aiperf/common/logging.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/base_messages.py
  aiperf/common/messages/dataset_messages.py
  aiperf/common/messages/progress_messages.py
  aiperf/common/models/credit_models.py
  aiperf/common/service/base_service.py
  aiperf/common/utils.py
  aiperf/data_exporter/exporter_config.py
  aiperf/data_exporter/exporter_manager.py
  aiperf/progress/__init__.py
  aiperf/progress/progress_models.py
  aiperf/services/dataset/__init__.py
  aiperf/services/dataset/dataset_manager.py
  aiperf/services/records_manager/records_manager.py
  aiperf/services/system_controller/system_controller.py
  aiperf/tests/data_exporters/test_console_exporter.py
  pyproject.toml
Due: mkinit messages

remove comments
  .pre-commit-config.yaml
Due: none

feat: Add support for Streaming Post Processors
  Makefile
  aiperf/common/__init__.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/post_processor_enums.py
  aiperf/common/factories.py
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_lifecycle_mixin.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  aiperf/common/mixins/aiperf_profile_mixin.py
  aiperf/common/mixins/async_task_manager_mixin.py
  aiperf/common/mixins/base_mixin.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/mixins/process_health_mixin.py
  aiperf/services/__init__.py
  aiperf/services/records_manager/__init__.py
  aiperf/services/records_manager/post_processors/__init__.py
  aiperf/services/records_manager/post_processors/streaming_post_processor.py
  aiperf/services/records_manager/records_manager.py
  tests/conftest.py
  tests/services/records_manager/test_streaming_post_processor.py
Due: mkinit enums

address comments
  aiperf/services/__init__.py
  aiperf/services/records_manager/__init__.py
  aiperf/services/records_manager/post_processors/__init__.py
  aiperf/services/records_manager/post_processors/streaming_post_processor.py
  aiperf/services/records_manager/records_manager.py
  tests/services/records_manager/test_streaming_post_processor.py
Due: none

feat: Add support for Streaming Post Processors (#111)
  Makefile
  aiperf/common/__init__.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/post_processor_enums.py
  aiperf/common/factories.py
  aiperf/common/mixins/__init__.py
  aiperf/common/mixins/aiperf_lifecycle_mixin.py
  aiperf/common/mixins/aiperf_logger_mixin.py
  aiperf/common/mixins/aiperf_profile_mixin.py
  aiperf/common/mixins/async_task_manager_mixin.py
  aiperf/common/mixins/base_mixin.py
  aiperf/common/mixins/hooks_mixin.py
  aiperf/common/mixins/process_health_mixin.py
  aiperf/services/__init__.py
  aiperf/services/records_manager/__init__.py
  aiperf/services/records_manager/post_processors/__init__.py
  aiperf/services/records_manager/post_processors/streaming_post_processor.py
  aiperf/services/records_manager/records_manager.py
  tests/conftest.py
  tests/services/records_manager/test_streaming_post_processor.py
Due: mkinit enums

refactor: simplify quantile calculations, remove unit conversion
  aiperf/services/records_manager/post_processors/metric_summary.py
Due: none

refactor: simplify quantile calculations, remove unit conversion (#112)
  aiperf/services/records_manager/post_processors/metric_summary.py
Due: none

add random pool loading
  aiperf/services/dataset/loader/models.py
  aiperf/services/dataset/loader/random_pool.py
  tests/loaders/test_random_pool.py
Due: none

update init
  aiperf/services/__init__.py
  aiperf/services/dataset/__init__.py
  aiperf/services/dataset/loader/__init__.py
  aiperf/services/dataset/loader/random_pool.py
Due: none

add third file
  tests/loaders/test_random_pool.py
Due: none

feat: add random pool custom dataset (#113)
  aiperf/services/__init__.py
  aiperf/services/dataset/__init__.py
  aiperf/services/dataset/loader/__init__.py
  aiperf/services/dataset/loader/models.py
  aiperf/services/dataset/loader/random_pool.py
  tests/loaders/test_random_pool.py
Due: none

Path conditions:
  mkinit enums: any of: ^aiperf/common/enums/__init__.py$ and \.py$
  mkinit messages: any of: ^aiperf/common/messages/__init__.py$ and \.py$
  mkinit config: any of: ^aiperf/common/config/__init__.py$ and \.py$
