Repository ai-dynamo/aiperf: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkinit enums, mkinit messages, mkinit config

mkinit enums:
  name: Run mkinit enums
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

mkinit messages:
  name: Run mkinit messages
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

mkinit config:
  name: Run mkinit on config files
  entry: mkinit
  language: system
  args:
  - --write
  - --black
  - --nomods

cleanup
  aiperf/common/config/__init__.py
  aiperf/common/config/output_config.py
  aiperf/common/config/profile_export_config.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/metric_enums.py
  tests/post_processors/test_record_export_results_processor.py
Due: mkinit enums, mkinit config

cleanup
  aiperf/common/config/config_defaults.py
  aiperf/common/config/output_config.py
  aiperf/post_processors/record_export_results_processor.py
  tests/post_processors/test_record_export_results_processor.py
Due: none

enum
  aiperf/common/enums/data_exporter_enums.py
Due: none

feat: support - vs _ in CaseInsensitiveStrEnum (#323)
  aiperf/common/enums/base_enums.py
  tests/common/enums/test_base_enums.py
Due: none

feat: Add per-record metrics export to profile_export.jsonl
  aiperf/clients/openai/openai_aiohttp.py
  aiperf/common/config/config_defaults.py
  aiperf/common/config/output_config.py
  aiperf/common/enums/__init__.py
  aiperf/common/enums/base_enums.py
  aiperf/common/enums/data_exporter_enums.py
  aiperf/common/enums/metric_enums.py
  aiperf/common/enums/post_processor_enums.py
  aiperf/common/exceptions.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/credit_messages.py
  aiperf/common/messages/inference_messages.py
  aiperf/common/models/__init__.py
  aiperf/common/models/record_models.py
  aiperf/common/protocols.py
  aiperf/metrics/metric_dicts.py
  aiperf/metrics/types/max_response_metric.py
  aiperf/metrics/types/min_request_metric.py
  aiperf/post_processors/__init__.py
  aiperf/post_processors/metric_results_processor.py
  aiperf/post_processors/record_export_results_processor.py
  aiperf/records/record_processor_service.py
  aiperf/records/records_manager.py
  aiperf/workers/worker.py
  examples/README.md
  examples/parse_profile_export.py
  tests/clients/openai/test_openai_aiohttp.py
  tests/common/enums/test_base_enums.py
  tests/post_processors/conftest.py
  tests/post_processors/test_metric_results_processor.py
  tests/post_processors/test_post_processor_integration.py
  tests/post_processors/test_record_export_results_processor.py
  tests/records/conftest.py
  tests/timing_manager/test_request_rate_strategy.py
  tests/workers/test_worker.py
Due: mkinit enums, mkinit messages

add missing artifacts
  examples/artifacts/run1/profile_export.jsonl
  examples/artifacts/run1/profile_export_aiperf.csv
  examples/artifacts/run1/profile_export_aiperf.json
Due: none

Initial changes to timeslice in MRP.
  aiperf/common/types.py
  aiperf/post_processors/metric_results_processor.py
Due: none

fix coderabbit
  examples/parse_profile_export.py
Due: none

feat: add X-Request-Id and X-Correlation-Id headers for traceability (#324)
  aiperf/clients/openai/openai_aiohttp.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/credit_messages.py
  aiperf/common/messages/inference_messages.py
  aiperf/common/models/record_models.py
  aiperf/common/protocols.py
  aiperf/records/record_processor_service.py
  aiperf/workers/worker.py
  tests/clients/openai/test_openai_aiohttp.py
  tests/timing_manager/test_request_rate_strategy.py
  tests/workers/test_worker.py
Due: mkinit messages

remove docs from this pr
  docs/tutorials/gpu-telemetry-testing.md
Due: none

feat: add --slice-duration option for time slicing mode (#300)
  aiperf/common/config/config_defaults.py
  aiperf/common/config/output_config.py
  tests/config/test_output_config.py
Due: none

Revert "feat: support - vs _ in CaseInsensitiveStrEnum (#323)"
  aiperf/common/enums/base_enums.py
  tests/common/enums/test_base_enums.py
Due: none

Update aiperf/metrics/types/good_request_count_metric.py
  aiperf/metrics/types/good_request_count_metric.py
Due: none

Revert "feat: support - vs _ in CaseInsensitiveStrEnum (#323)" (#326)
  aiperf/common/enums/base_enums.py
  tests/common/enums/test_base_enums.py
Due: none

feat: Add Goodput Metric (#311)
  aiperf/common/config/__init__.py
  aiperf/common/config/config_defaults.py
  aiperf/common/config/config_validators.py
  aiperf/common/config/input_config.py
  aiperf/common/constants.py
  aiperf/common/enums/metric_enums.py
  aiperf/metrics/types/good_request_count_metric.py
  aiperf/metrics/types/goodput_metric.py
  aiperf/post_processors/base_metrics_processor.py
  tests/config/test_config_validators.py
  tests/config/test_input_config.py
  tests/metrics/test_good_request_count_metric.py
  tests/metrics/test_goodput_metric.py
  tests/post_processors/test_base_metrics_processor.py
Due: mkinit config

feat: add new metrics and address push records from telemetry manager to records manager
  aiperf/common/models/telemetry_models.py
  aiperf/exporters/display_units_utils.py
  aiperf/exporters/gpu_telemetry_console_exporter.py
  aiperf/gpu_telemetry/constants.py
  aiperf/gpu_telemetry/telemetry_manager.py
  aiperf/metrics/gpu_telemetry_types/memory_copy_utilization_metric.py
  aiperf/metrics/gpu_telemetry_types/power_violation_metric.py
  aiperf/metrics/gpu_telemetry_types/thermal_violation_metric.py
  aiperf/metrics/gpu_telemetry_types/xid_errors_metric.py
  aiperf/post_processors/telemetry_results_processor.py
  aiperf/records/records_manager.py
  tests/gpu_telemetry/conftest.py
Due: none

feat: add comprehensive e2e integration tests using FakeAI
  .github/workflows/run-integration-tests.yml
  Makefile
  aiperf/common/config/__init__.py
  pyproject.toml
  tests/conftest.py
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/endpoints/__init__.py
  tests/integration/endpoints/test_chat.py
  tests/integration/endpoints/test_completions.py
  tests/integration/endpoints/test_embeddings.py
  tests/integration/endpoints/test_rankings.py
  tests/integration/features/__init__.py
  tests/integration/features/test_dashboard.py
  tests/integration/features/test_deterministic.py
  tests/integration/features/test_formats.py
  tests/integration/features/test_output.py
  tests/integration/helpers.py
Due: mkinit config

update integration github action
  .github/workflows/run-integration-tests.yml
  Makefile
Due: none

update makefile to run tests with xdist
  Makefile
Due: none

WIP update openai chat formatter
  aiperf/clients/openai/openai_chat.py
  aiperf/workers/worker.py
Due: none

Support stddev in sequence distributions
  aiperf/common/config/prompt_config.py
  aiperf/common/models/__init__.py
  aiperf/common/models/sequence_distribution.py
  tests/test_sequence_distribution.py
Due: none

update docs
  README.md
  aiperf/common/sequence_distribution.py
  docs/tutorials/sequence-distributions.md
  mkdocs.yml
  tests/test_sequence_distribution.py
Due: none

add test coverage
  aiperf/dataset/composer/base.py
  aiperf/dataset/composer/synthetic.py
  tests/composers/test_base_composer.py
  tests/composers/test_synthetic_composer.py
  tests/config/test_prompt_config.py
  tests/test_sequence_distribution.py
Due: none

remove unused class
  aiperf/common/config/__init__.py
  aiperf/common/sequence_distribution.py
  aiperf/dataset/composer/base.py
  docs/tutorials/sequence-distributions.md
  tests/composers/test_base_composer.py
Due: mkinit config

Update goodput metric status
  docs/genai-perf-feature-comparison.md
Due: none

address coderabbit comments
  aiperf/common/models/sequence_distribution.py
  aiperf/dataset/composer/synthetic.py
  docs/tutorials/sequence-distributions.md
  tests/test_sequence_distribution.py
Due: none

Remove newline
  docs/tutorials/sequence-distributions.md
Due: none

fix: address nitpicks
  aiperf/controller/system_controller.py
  aiperf/exporters/gpu_telemetry_console_exporter.py
  aiperf/post_processors/telemetry_results_processor.py
  tests/gpu_telemetry/test_telemetry_data_collector.py
Due: none

fix: add hack to support --gpu-telemetry without any arguments
  aiperf/__main__.py
  aiperf/cli.py
  aiperf/gpu_telemetry/telemetry_manager.py
  pyproject.toml
  tests/test_main.py
Due: none

docs: Update goodput metric support (#328)
  docs/genai-perf-feature-comparison.md
Due: none

feat: GPU Telemetry Integration - Milestone 2 (#316)
  aiperf/common/config/user_config.py
  aiperf/common/messages/telemetry_messages.py
  aiperf/common/models/__init__.py
  aiperf/common/models/telemetry_models.py
  aiperf/controller/system_controller.py
  aiperf/exporters/__init__.py
  aiperf/exporters/csv_exporter.py
  aiperf/exporters/display_units_utils.py
  aiperf/exporters/gpu_telemetry_console_exporter.py
  aiperf/exporters/json_exporter.py
  aiperf/gpu_telemetry/constants.py
  aiperf/gpu_telemetry/telemetry_data_collector.py
  aiperf/gpu_telemetry/telemetry_manager.py
  aiperf/metrics/base_telemetry_metric.py
  aiperf/metrics/gpu_telemetry_types/energy_consumption_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_memory_used_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_power_usage_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_temperature_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_utilization_metric.py
  aiperf/metrics/gpu_telemetry_types/memory_clock_frequency_metric.py
  aiperf/metrics/gpu_telemetry_types/memory_copy_utilization_metric.py
  aiperf/metrics/gpu_telemetry_types/memory_temperature_metric.py
  aiperf/metrics/gpu_telemetry_types/power_violation_metric.py
  aiperf/metrics/gpu_telemetry_types/sm_clock_frequency_metric.py
  aiperf/metrics/gpu_telemetry_types/thermal_violation_metric.py
  aiperf/metrics/gpu_telemetry_types/xid_errors_metric.py
  aiperf/post_processors/telemetry_results_processor.py
  aiperf/records/records_manager.py
  tests/data_exporters/conftest.py
  tests/data_exporters/test_csv_exporter.py
  tests/data_exporters/test_gpu_telemetry_console_exporter.py
  tests/data_exporters/test_json_exporter.py
  tests/gpu_telemetry/conftest.py
  tests/gpu_telemetry/test_telemetry_data_collector.py
  tests/gpu_telemetry/test_telemetry_metrics.py
  tests/gpu_telemetry/test_telemetry_models.py
  tests/post_processors/test_telemetry_results_processor.py
  tests/records/test_records_filtering.py
Due: none

feat: mixed isl/osl distributions (#322)
  README.md
  aiperf/common/config/__init__.py
  aiperf/common/config/prompt_config.py
  aiperf/common/models/__init__.py
  aiperf/common/models/sequence_distribution.py
  aiperf/dataset/composer/base.py
  aiperf/dataset/composer/synthetic.py
  docs/tutorials/sequence-distributions.md
  mkdocs.yml
  tests/composers/test_base_composer.py
  tests/composers/test_synthetic_composer.py
  tests/config/test_prompt_config.py
  tests/test_sequence_distribution.py
Due: mkinit config

feat: GPU telemetry milestone 1
  aiperf/common/enums/message_enums.py
  aiperf/common/enums/metric_enums.py
  aiperf/common/enums/post_processor_enums.py
  aiperf/common/enums/service_enums.py
  aiperf/common/messages/__init__.py
  aiperf/common/messages/telemetry_messages.py
  aiperf/common/models/__init__.py
  aiperf/common/models/telemetry_models.py
  aiperf/common/protocols.py
  aiperf/controller/system_controller.py
  aiperf/gpu_telemetry/telemetry_data_collector.py
  aiperf/gpu_telemetry/telemetry_manager.py
  aiperf/metrics/__init__.py
  aiperf/metrics/base_metric.py
  aiperf/metrics/base_telemetry_metric.py
  aiperf/metrics/gpu_telemetry_types/energy_consumption_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_memory_used_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_power_limit_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_power_usage_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_utilization_metric.py
  aiperf/metrics/gpu_telemetry_types/total_gpu_memory_metric.py
  aiperf/metrics/metric_dicts.py
  aiperf/post_processors/telemetry_results_processor.py
  aiperf/records/records_manager.py
  tests/gpu_telemetry/__init__.py
  tests/gpu_telemetry/conftest.py
  tests/gpu_telemetry/test_telemetry_data_collector.py
  tests/gpu_telemetry/test_telemetry_integration.py
  tests/gpu_telemetry/test_telemetry_metrics.py
  tests/gpu_telemetry/test_telemetry_models.py
Due: mkinit messages

feat: addressing review comments
  aiperf/common/enums/service_enums.py
  aiperf/common/messages/telemetry_messages.py
  aiperf/common/models/telemetry_models.py
  aiperf/gpu_telemetry/telemetry_data_collector.py
  aiperf/gpu_telemetry/telemetry_manager.py
  aiperf/metrics/base_telemetry_metric.py
  aiperf/post_processors/telemetry_results_processor.py
  tests/gpu_telemetry/conftest.py
  tests/gpu_telemetry/test_telemetry_data_collector.py
  tests/gpu_telemetry/test_telemetry_integration.py
  tests/gpu_telemetry/test_telemetry_metrics.py
  tests/gpu_telemetry/test_telemetry_models.py
Due: none

feat: add universal constants file
  aiperf/gpu_telemetry/constants.py
Due: none

fix: address copilot comments
  aiperf/gpu_telemetry/telemetry_data_collector.py
  aiperf/metrics/metric_dicts.py
  aiperf/post_processors/telemetry_results_processor.py
  aiperf/records/records_manager.py
  tests/gpu_telemetry/test_telemetry_integration.py
Due: none

fix: minor review comments
  aiperf/common/messages/__init__.py
  aiperf/common/messages/telemetry_messages.py
  aiperf/common/models/__init__.py
  aiperf/common/models/telemetry_models.py
  aiperf/common/protocols.py
  aiperf/gpu_telemetry/constants.py
  aiperf/gpu_telemetry/telemetry_data_collector.py
  aiperf/gpu_telemetry/telemetry_manager.py
  aiperf/metrics/base_telemetry_metric.py
  aiperf/metrics/gpu_telemetry_types/energy_consumption_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_memory_used_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_power_limit_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_power_usage_metric.py
  aiperf/metrics/gpu_telemetry_types/gpu_utilization_metric.py
  aiperf/metrics/gpu_telemetry_types/total_gpu_memory_metric.py
  aiperf/metrics/metric_dicts.py
  aiperf/post_processors/telemetry_results_processor.py
  aiperf/records/records_manager.py
  tests/gpu_telemetry/__init__.py
  tests/gpu_telemetry/conftest.py
  tests/gpu_telemetry/test_telemetry_data_collector.py
  tests/gpu_telemetry/test_telemetry_integration.py
  tests/gpu_telemetry/test_telemetry_metrics.py
  tests/gpu_telemetry/test_telemetry_models.py
Due: mkinit messages

feat: update unit tests and add new metric class types
  aiperf/metrics/gpu_telemetry_types/gpu_temperature_metric.py
  aiperf/metrics/gpu_telemetry_types/memory_clock_frequency_metric.py
  aiperf/metrics/gpu_telemetry_types/memory_temperature_metric.py
  aiperf/metrics/gpu_telemetry_types/sm_clock_frequency_metric.py
  aiperf/post_processors/telemetry_results_processor.py
  tests/gpu_telemetry/test_telemetry_data_collector.py
  tests/gpu_telemetry/test_telemetry_integration.py
Due: none

fix: address review comments, especially about setting up metric unit classes
  aiperf/common/enums/metric_enums.py
  aiperf/common/enums/service_enums.py
  aiperf/common/models/telemetry_models.py
  aiperf/gpu_telemetry/telemetry_data_collector.py
  aiperf/gpu_telemetry/telemetry_manager.py
Due: none

Path conditions:
  mkinit enums: any of: ^aiperf/common/enums/__init__.py$ and \.py$
  mkinit messages: any of: ^aiperf/common/messages/__init__.py$ and \.py$
  mkinit config: any of: ^aiperf/common/config/__init__.py$ and \.py$
